html {
    background: var(--Color-1, #222831);
    color: #EEE;
}

.cornerName {
    color: var(--Color-3, #EEE);
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 48px 96px;
    align-items: flex-start;
}

.gradient-menu {
    padding-left: 1.25em;
    position: relative;
}

.gradient-menu:before {
content: "";
position: absolute;
left: 0;
top: 0.21em;
bottom: 0.21em;
width: 1em;
background: linear-gradient(
    to bottom, 
    #222831, #222831 20%, 
    #EEE 20%, #EEE 40%, 
    #222831 40%, #222831 60%, 
    #EEE 60%, #EEE 80%, 
    #222831 80%, #222831 100%
);
}

nav ul{
    display: inline-flex;
    padding: 48px 96px;
    align-items: flex-start;
    gap: 48px;
    float: right;
}

nav li {
    list-style-type: none;
}

nav ul li a {
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.loadingIcon {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid yellow;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

h1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin-left: 180px;
}

h1 .titleName {
    margin-top: 334px;
    width: 586px;
}

h1 .myName {
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
}

h1 .myRole {
    color: var(--Color-3, #00ADB5);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

h1 .titleButton {
    display: flex;
    align-items: center;
    gap: 24px;
}

h1 .hireButton {
    display: flex;
    padding: 10px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: var(--Color-3, #00ADB5);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

h1 .hireButton:hover, .cvButton:hover {
    cursor: pointer;
    background-color:blueviolet;
}

h1 .cvButton {
    display: flex;
    padding: 10px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: rgba(57, 62, 70, 0.75);
    backdrop-filter: blur(2px);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.aboutMeTitle {
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 96px;
}

.aboutMe p {
    margin-left: 96px;
    color: rgba(238, 238, 238, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 389px;
    height: 189px;
}

.aboutMe {
    margin-top: 256px;
}

.workMeTitle {
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 96px;
}

.workMe p {
    margin-left: 96px;
    color: rgba(238, 238, 238, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 389px;
    height: 189px;
}

.workMe {
    margin-top: 256px;
}

.contactMeTitle {
    color: var(--Color-3, #EEE);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 96px;
}

.contactMe p {
    margin-left: 96px;
    color: rgba(238, 238, 238, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 389px;
    height: 189px;
}

.contactMe {
    margin-top: 256px;
}

body {
    font-family: "Trirong", serif;
}

footer {
    text-align: center;
    margin: 20px;
}